<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>this is home page</title> 

</head>
<body class="my-login-page">

  
	<section >
	
	   <div id="login">
        <div class="container text-center">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:250px; border:2px solid gray;" class="col-md-12">
                    
                    <h1 class="text-center">Your Registered Email Id</h1>
                    
                    

    <div th:if="${session.message}" class="container">
    
    <div  class="alert  alert-danger me-3 text-center" role="alert">
 		 <span th:text="${session.message}"></span>
 		 
 		 
	</div>
	
	<th:block th:text="${#session.removeAttribute('message')}" >
	
	</th:block>
    </div>
                    
        		<div class="card ms-3 me-3 mt-3">
        		<form action="#" class=" mt-2"
								   method="POST"
								   enctype='multipart/form-data'
								  th:object="${contact}" 
								   th:action="@{/send_otp}">
                    
                    	<div class="form-group">
                    	     <input required type="email"  name="email"  class=" form-control" placeholder="Enter email here"/>
                    		
                    	</div>
                    	
                    	  <div class="container text-center mt-4">
                      	<button  type="submit" class="btn btn-warning">Send OTP</button>
                      </div> 
                    </form>
                    </div>  
                    
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

</body>
</html>