<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>change password form</title> 

</head>
<body class="my-login-page">

  
	<section >
	
	   <div id="login">
        <div class="container text-center">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:250px; border:2px solid gray;" class="col-md-12">
                    
         <h1>Enter new Passsword</h1>
		                    
        		<div class="card ms-3 me-3 mt-3">
        		<form action="#" class=" mt-2"
								   method="POST"
								   enctype='multipart/form-data'
								  th:object="${contact}" 
								   th:action="@{/change_password}">
                    
                    	<div class="form-group">
                    	     <input required type="password" 
                    	      name="newPassword"  
                    	      class=" form-control"
                    	      placeholder="Enter new password here"/>
                    		
                    	</div>
                    	
                    	  <div class="container text-center mt-4">
                      	<button  type="submit" 
                      	class="btn btn-warning btn-outline-primary">Change Password</button>
                      </div> 
                    </form>
                    </div>  
                    
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

</body>
</html>